<h1>Users info</h1>

<%= form_with model: @user do |f| %>

    <label for="inputName">Name</label><br>
    <%= f.text_field :name, autofocus: true, id:"inputName" %><br>

    <label for="inputImage">Image</label><br>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %><br>

    <label for="inputIntroduction">Introduction</label><br>
    <%= f.text_area :body, id:"inputIntroduction", placehilder:"自己紹介文"%><br><br>

    <%= f.submit 'Update User' %>

<% end %>
