<div class="container">
    <div class="row">
        <div class="col-md-3">
            
            <%= render 'users/info', user: @user %>
            <%= render 'list', book: @book %>
        
        </div>
        <div class="col-md-9" style="background-color: skyblue;">
            <h1>Book detail</h1>
            <table>
                <tbody>
                    <% @books.each do |book| %>
                    <tr>
                        <td><%= image_tag book.user.get_profile_image(100,100) %></td>
                        <td><%= book.title %></td>
                        <td><%= book.body %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>

             
             
        </div>
    </div>
</div>