<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e8a13719a6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <heder>
      <%= link_to "Bookers11111111", root_path %>
      <% if user_signed_in? %>
        <li class="nav-list">
          <%= link_to user_path(current_user.id) do %>
            <i class="fas fa-home"></i>
            Home
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to users_path do %>
          <i class="fas fa-users"></i>
          Users
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to books_path do %>
          <i class="fas fa-book-open"></i>
          Books
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>
          Log out
          <% end %>
        </li>
      <% else %>
        <li class="nav-list">
          <%= link_to root_path do %>
          <i class="fas fa-home"></i>
          Home
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to home_about_path do %>
          <i class="fas fa-link"></i>
          About
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to new_user_registration_path do %>
          <i class="fas fa-user-plus"></i>
          Sign up
          <% end %>
        </li>
        <li class="nav-list">
          <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i>
          Log in
          <% end %>
        </li>
      <% end %>
        
      
    </heder>
    
    <p class="notice"><%= notice %></p>
    
    <%= yield %>
    
    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
